.navLeft .navMenu {
  padding-top: 24px;
}
.navLeft .el-menu {
  border: none;
}
.navLeft .el-menu-item.is-active {
  background: #3551DF;
}
.navLeft .el-menu-item {
  height: 68px;
  line-height: 68px;
  text-align: center;
  padding-left: 0 !important;
}
.navLeft .el-menu-item.is-active {
  color: #fff;
}
.navLeft .el-menu-item [class^=el-icon-] {
  margin-right: 10px;
}
.publicPorp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 113;
}
.passwordPorp .el-form-item__label {
  color: #333;
}
.passwordPorp .el-input__inner {
  background: #F2F3F8;
  border: none;
  height: 32px;
  line-height: 32px;
}
.passwordPorp .el-button--primary {
  margin-top: 52px;
  width: 100%;
  height: 48px;
  background: #3551DF;
  border-radius: 10px;
  border: none;
}
.crumbsHeader {
  margin-bottom: 24px;
}
.crumbsHeader .crumbs {
  display: flex;
  align-items: center;
}
.crumbsHeader .crumbs .el-icon-back {
  font-size: 24px;
  color: #666;
  margin-right: 10px;
  cursor: pointer;
}
.crumbsHeader .crumbs span {
  cursor: pointer;
}
.skuInfos .el-col-24 {
  padding: 0 !important;
}
.skuInfos .el-row {
  margin: 0 !important;
}
.skuInfos .pubilcRadio .el-radio.is-bordered {
  background: #fff;
}
.skuInfos .pubilcRadio .el-radio__inner {
  display: none;
}
.skuInfos .pubilcRadio .el-radio.is-bordered.is-checked {
  background: #3551DF !important;
  border-color: #3551DF;
}
.skuInfos .pubilcRadio .el-radio__input.is-checked + .el-radio__label {
  color: #fff;
}
.skuInfos .pubilcRadio .el-radio--medium.is-bordered {
  width: 100px;
  text-align: center;
  padding: 10px 22px 0 10px;
}
.skuInfos .num .el-input__inner {
  text-align: center;
}
.skuInfos .uploadBox {
  padding: 0 !important;
}
.skuInfos .el-upload-dragger {
  background: none;
  width: 62px;
  height: 62px;
}
.skuInfos .el-upload-dragger p {
  font-size: 12px;
  line-height: 4px;
  color: #666;
}
.skuInfos .el-upload-dragger .el-icon-upload {
  font-size: 20px;
  line-height: normal;
  margin: 0;
}
.skuInfos .el-input-number {
  width: 145px;
}
.skuInfos .el-input-number__decrease,
.skuInfos .el-input-number__increase {
  width: 38px;
}
.orderTitle .el-input__inner {
  padding-right: 70px;
}
.productCraft .li {
  display: block;
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 7px;
}
.productCraft .li .el-input {
  width: 145px !important;
  margin-left: 15px;
}
.productCraft .li:last-child {
  margin-right: 0;
}
.productCraft .el-radio-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.productCraft .el-radio__inner {
  width: 16px;
  height: 16px;
  border-radius: 0%;
}
.productCraft .el-radio {
  margin-right: 0;
}
.gongyiProduct .el-form-item__error {
  left: 69px !important;
}
.gongyiProduct .ul {
  display: flex;
  align-items: center;
}
.deliveryType .el-radio.is-bordered {
  background: #F0F0F0;
}
.deliveryType .el-radio__inner {
  display: none;
}
.deliveryType .el-radio.is-bordered.is-checked {
  background: #3551DF !important;
  border-color: #3551DF;
}
.deliveryType .el-radio__input.is-checked + .el-radio__label {
  color: #fff;
}
.deliveryType .el-radio--medium.is-bordered {
  width: 100px;
  text-align: center;
  padding: 10px 22px 0 10px;
}
.uploadSection .buzhou {
  padding-left: 172px;
  margin-bottom: 32px;
}
.uploadSection .el-step.is-horizontal {
  position: relative;
  flex-basis: 80% !important;
}
.uploadSection .el-step__description {
  display: none;
}
.uploadSection .el-step__main {
  position: absolute;
  top: -7px;
  left: 32px;
  width: 64px;
}
.uploadSection .el-step.is-horizontal .el-step__line {
  left: 103px;
  margin-right: 10px !important;
}
.uploadSection .el-step__title.is-success {
  color: #3551DF;
}
.uploadSection .el-step__head.is-success {
  color: #3551DF;
  border-color: #3551DF;
}
.rodioBox .el-radio__inner {
  width: 20px;
  height: 20px;
}
.rodioBox .el-radio__input.is-checked .el-radio__inner {
  border-color: #3551DF;
  background: #3551DF;
}
.rodioBox .el-radio__inner::after {
  width: 6px;
  height: 6px;
}
.choicesection .el-upload-dragger {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.choiceBox .upload-demo,
.choiceBox .el-upload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.yhc-item .el-form-item__content {
  line-height: 32px;
}
.yhc-item .el-input {
  line-height: 32px;
}
.yhc-item .el-input__icon {
  line-height: 34px;
}
.yhc-item .el-input__inner {
  height: 32px;
  line-height: 32px;
}
.yhc-dialog .el-dialog__header {
  padding: 15px 24px 15px;
  background-color: rgba(53, 81, 223, 0.1);
}
.yhc-dialog .el-dialog__title {
  font-size: 16px;
}
.yhc-dialog .el-dialog__body {
  padding: 10px 24px;
}
.yhc-dialog .el-dialog__footer {
  padding: 10px 24px 20px;
}
.yhc-dialog .el-dialog__footer .el-button--primary {
  background-color: #3551DF;
  border-color: #3551DF;
}
.yhc-dialog .el-textarea__inner {
  height: 170px;
  background: #F2F3F8;
}
.yhc-dialog .el-button {
  padding: 7px 13px;
}
.yhc-date .el-range-editor.el-input__inner {
  width: 100%;
  padding: 3px 5px;
  padding-left: 22px;
  width: 271px;
}
.yhc-date .el-date-editor .el-range-input {
  width: 48%;
}
.yhc-date .el-date-editor .el-range-separator {
  width: 10%;
  line-height: 26px;
}
.yhc-date .el-date-editor .el-range__icon,
.yhc-date .el-date-editor .el-range__close-icon {
  line-height: 26px;
}
.applyReturnPorp .el-upload-list--picture-card .el-upload-list__item {
  width: 41px;
  height: 41px;
}
.applyReturnPorp .el-upload-list--picture-card .el-upload-list__item-status-label {
  display: none !important;
}
.applyReturnPorp .el-upload--picture-card {
  width: 41px;
  height: 41px;
  line-height: 41px;
}
.applyReturnPorp .el-upload--picture-card i {
  font-size: 20px;
}
.applyReturnPorp .info .el-textarea__inner {
  height: 105px;
  background-color: #F2F3F8;
  border: none;
  padding: 0;
}
.noCont {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.noCont img {
  width: 112px;
  height: 112px;
  display: inline-block;
}
.noCont p {
  font-size: 88px;
  color: #E1E4F3;
  margin-top: 22px;
  text-align: center;
}
.el-tooltip__popper {
  width: 10%;
  max-width: 15%;
}
.search-head .el-input__inner {
  height: 32px;
  line-height: 32px;
}
.search-head .el-input__icon {
  line-height: 32px;
}
.search-head .el-select {
  width: 115px;
  margin-right: 24px;
}
.search-head .search-input {
  width: 327px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #ccc;
  transition: all 0.2s;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, 0.7);
}
.shibieqiPorp {
  background: #fff;
  width: 500px;
  height: 30%;
}
.shibieqiPorp .textare {
  height: 68%;
  padding: 3% 3% 0;
}
.shibieqiPorp .textare .el-textarea {
  height: 100%;
}
.shibieqiPorp .textare .el-textarea textarea {
  height: 100% !important;
}
.orderButton .el-form-item {
  margin-bottom: 0 !important;
}
.orderButton .el-form-item__content {
  margin-left: 54px !important;
}
.inputSelect .el-form-item__content,
.inputSelect .el-autocomplete {
  width: 100%;
}
.nocticePoro .el-tabs__content {
  height: 85%;
}
.nocticePoro .el-tabs__nav-wrap::after {
  display: none;
}
