//侧边导航栏
.navLeft{
    .navMenu{
        padding-top: 24px;
    }
    .el-menu{
        border: none;
    }
    .el-menu-item.is-active{
        background: #3551DF;
    }

    .el-menu-item{
        height: 68px;
        line-height: 68px;
        text-align: center;
        padding-left: 0 !important;
    }
    .el-menu-item.is-active{
        color: #fff;
    }

    .el-menu-item [class^=el-icon-]{
        margin-right: 10px;
    }
}
// 弹框公用样式
.publicPorp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    z-index: 113;
}

// 修改密码
.passwordPorp{
    .el-form-item__label{
        color: #333;
    }
    .el-input__inner{
        background: #F2F3F8;
        border: none;
        height: 32px;
        line-height: 32px;
    }
    .el-button--primary{
        margin-top: 52px;
        width: 100%;
        height: 48px;
        background: #3551DF;
        border-radius: 10px;
        border: none;
    }
}

// 面包屑
.crumbsHeader{
    margin-bottom: 24px;
    .crumbs{
        span{
            cursor: pointer;
        }    
    }
}

// 下单页面样式
.skuInfos{
    .el-col-24{
        padding: 0 !important;
    }
    .el-row{
        margin: 0 !important;
    }
    .el-radio.is-bordered{
        background: #fff;
    }
    .el-radio__inner{
        display: none;
    }
    .el-radio.is-bordered.is-checked{
        background: #3551DF !important;
        border-color: #3551DF;
    }
    .el-radio__input.is-checked+.el-radio__label{
        color: #fff;
    }
    .el-radio--medium.is-bordered{
        width: 100px;
        text-align: center;
        padding: 10px 22px 0 10px;
    }

    .num{
        .el-input__inner{
            text-align: center;
        }
    }
    .uploadBox {
        padding: 0 !important;
    }

    .el-upload-dragger{
        background: none;
        width: 62px;
        height: 62px;
        p{
            font-size: 12px;
            line-height: 4px;
            color: #666;
        }
    }

    .el-upload-dragger .el-icon-upload{
        font-size: 20px;
        line-height: normal;
        margin: 0;
    }
}



.deliveryType{
    .el-radio.is-bordered{
        background: #F0F0F0;
    }
    .el-radio__inner{
        display: none;
    }
    .el-radio.is-bordered.is-checked{
        background: #3551DF !important;
        border-color: #3551DF;
    }
    .el-radio__input.is-checked+.el-radio__label{
        color: #fff;
    }
    .el-radio--medium.is-bordered{
        width: 100px;
        text-align: center;
        padding: 10px 22px 0 10px;
    }
}

// 步骤条
.uploadSection{
    .buzhou{
        padding-left: 85px;
        margin-bottom: 32px;
    }
    .el-step.is-horizontal{
        position: relative;
        flex-basis: 38% !important;
    }
    .el-step__description{
        display: none;
    }
    .el-step__main{
        position: absolute;
        top: -7px;
        left: 32px;
        width: 64px;
    }
    .el-step.is-horizontal .el-step__line{
        left: 103px;
        margin-right: 10px !important;
    }

    .el-step__title.is-success{
        color: #3551DF;
    }
    .el-step__head.is-success{
        color: #3551DF;
        border-color: #3551DF;
    }
    
}

// 单选框
.rodioBox{
    .el-radio__inner{
        width: 20px;
        height: 20px;
    }
    .el-radio__input.is-checked .el-radio__inner{
        border-color: #3551DF;
        background: #3551DF;
    }
    .el-radio__inner::after{
        width: 6px;
        height: 6px;
    }
}

// 选择文件
.choicesection{
    .el-upload-dragger{
        width: 100%;
        height: 100%;
        background: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

.choiceBox{
    .upload-demo, .el-upload{
        width: 100%;
        height: 100%;
    }
}

// 我的订单首页
.yhc-item{
    .el-form-item__content{
        line-height: 32px;
    }
    .el-input{
        line-height: 32px;
    }
    .el-input__icon{
        line-height: 34px;
    }
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
}
// .yhc-dropdown{
//     margin-right: 24px;
//     padding: 5px 10px;
//     background: #FFFFFF;
//     border-radius: 4px;
//     cursor: pointer;
// }
.yhc-dialog{
    .el-dialog__header {
        padding: 15px 24px 15px;
        background-color: rgba(53, 81, 223, 0.1);
    }
    .el-dialog__title{
        font-size: 16px;
    }
    .el-dialog__body{
        padding: 10px 24px;
    }
    .el-dialog__footer{
        padding: 10px 24px 20px;
        .el-button--primary{
            background-color: #3551DF;
            border-color: #3551DF;
        }
    }
    .el-textarea__inner{
        height: 170px;
        background: #F2F3F8;
    }
    .el-button{
        padding: 7px 13px;
    }
}
.yhc-date{
    .el-range-editor.el-input__inner{
        width: 100%;
        padding: 3px 5px;
        padding-left: 22px;
        width: 271px;
    }
    .el-date-editor .el-range-input{
        width: 48%;
    }
    .el-date-editor .el-range-separator{
        width: 10%;
        line-height: 26px;
    }
    .el-date-editor .el-range__icon,.el-date-editor .el-range__close-icon{
        line-height: 26px;
    }
}

// 返厂弹框
.applyReturnPorp{
    .el-upload-list--picture-card .el-upload-list__item{
        width: 41px;
        height: 41px;
    }
    .el-upload-list--picture-card .el-upload-list__item-status-label{
        display: none !important;
    }
    .el-upload--picture-card{
        width: 41px;
        height: 41px;
        line-height: 41px;
    }
    .el-upload--picture-card i{
        font-size: 20px;
    }
    .info{

        .el-textarea__inner{
            height: 105px;
            background-color: #F2F3F8;
            border: none;
            padding: 0;
        }
    }
}

// 暂无订单
.noCont{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    img{
        width: 112px;
        height: 112px;
        display: inline-block;
    }
    p{
        font-size: 88px;
        color: #E1E4F3;
        margin-top: 22px;
        text-align: center;
    }
}

.el-tooltip__popper{
    width: 10%;
    max-width: 15%;
}


// 筛选
.search-head{
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
    .el-input__icon{
        line-height: 32px;
    }
    .el-select{
        width: 115px;
        margin-right: 24px;
    }
}